<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DDKitToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E05DEF11A495B4300B8D82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E0CFCDF1A5E2EE90059CF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2B0B821A3E7873006025C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2B0B9B1A3E7873006025C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
